version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PW}
    volumes:
      - ./db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    
  web:
    build: .
    restart: always
    container_name: server
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PW=${DB_PW}
      - SESSION_KEY=${SESSION_KEY}