<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <style>
        
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div>
    <h2>회원가입</h2>
    <form action="/signup" method="post">
        <p><input type="text" name="user_id" placeholder="id"></p>
        <p><input type="password" name="user_pw" placeholder="pw"></p>
        <p><input type="submit" value="만들기"></p>
    </form>
    </div>
</body>

</html>